@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue: #3b8bdb;
    --light-blue: #9ed1f3;
    --light-gray: #fcfbfc;
    --green: #6bbf47;
    --text-sm: 16px;
  }
}
