@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue: #3561ff;
    --light-blue: #e4ecff;
    --gray: #ecedf0;
    --light-gray: #f8f9fe;
    --mid-gray: #9da3b5;
    --darker-gray: #474f68;
    --black: #212639;
    --text-sm: 16px;
  }
}
